.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.botDefault {
    background-image: url(./assets/defaultScene.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    position: relative;
}

.peachBot {
    position: absolute;
    /* z-index: 10;
    top: 140px;
    left: 105px; */
}

/* .shades {
    position: absolute;
    z-index: 20;
    top: 187px;
    left: 165px;
} */

/* .nightScene {
    position: absolute;
} */