//Top level styles ----------------------------
.wrapper {
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
}

h1 {
    font-family: $secondaryFont;
    font-size: 5rem;
    text-transform: uppercase;
}

h2 {
    font-family: $secondaryFont;
    font-size: 5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
    font-weight: 700;
    color: $secondaryColour;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 3px;
    line-height: 26px;
}

footer p {
    text-align: center;
    color: dimgrey;
}

p.smallTxt {
    font-size: 1.6rem;
    font-style: italic;
    color: $darkBackgroundColour;
}

// .botImages p {
//     font-size: 8rem;
//     letter-spacing: 5px;
//     line-height: 50px;
//     text-transform: uppercase;
//     color: $darkBackgroundColour;
//     height: 100%;
// }

a.headerLink,
a.mainLink,
a.screenCap,
a.link2,
a.link3 {
    background: $linkColour;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    color: $primaryColour;
    padding: 15px 20px;
    

    &:hover, &:focus {
        color: $linkColour;
        background: $primaryColour;
        border: $linkColour 3px solid;
    }
}

a.headerLink {
    align-self: flex-end;
}

.displayLinks {
    align-items: center;

    a.screenCap {
        padding: 20px;
        border: 1px $linkColour solid;
        border-radius: 50%;
        margin-top: 20px;

        span {
            font-size: 2rem;
        }
    }

    a.link2 {
        margin-top: 50px;
    }

    a.link2 span,
    a.link3 span {
        padding-left: 10px;
        font-size: 2rem;
    }
}

footer a {
    color: #EA593E;
    text-align: center;
    font-style: italic;

    &:hover, &:focus {
        border-bottom: #EA593E solid 2px;
    }
}


//Input styles ----------------------------
// Code reference for radio/checkbox styling: https://www.templatemonster.com/blog/style-checkboxes-radio-buttons-css/
.botInputs {
    input[type="radio"],
    input[type="checkbox"]{
        visibility: visible;
        opacity: 0;
    }

    input:disabled + label {
        color: darkgrey;
    }
    
    input[type="radio"]:checked + label span.radio::after {
        left: -27px;
        background-color: $secondaryColour;
    }
    
    input[type="checkbox"]:checked + label span.checkbox::after {
        color: $secondaryColour;
    }

    input[type=checkbox]:focus + label,
    input[type=radio]:focus + label {
        border: 3px solid $lightBackgroundColour;
        border-radius: 5px;
        padding: 2px;
    }


    label {
        font-size: 2.2rem;
        position: relative;
        
        // Base styling-----
        span::before, 
        span::after { 
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        
        // Radio buttons-----
        span.radio {
            &::before {
                left: -52px;
                width: 45px;
                height: 25px;
                background-color: $formInputBackground;
                border-radius: 50px;
            }

            &:hover::before {
                border: 3px solid $lightBackgroundColour;
            }

            &::after {
                left: -49px;
                width: 17px;
                height: 17px;
                border-radius: 10px;
                background-color: $formInputBackground;
                transition: left .25s, background-color .25s;
            }     

            &:hover {
                cursor: pointer;
            }
        }  

        //Checkboxes -----
        span.checkbox {
            &::before {
                width: 27px;
                height: 27px;
                background-color: $formInputBackground;
                left: -35px;
                box-sizing: border-box;
                border: 3px solid transparent;
                transition: border-color .2s;
            }
            
            &:hover::before {
                border: 3px solid $lightBackgroundColour;
            }

            &::after {
                content: '\f00c';
                font-family: 'FontAwesome';
                left: -32px;
                top: 0px;
                color: transparent;
                transition: color .2s;
            }
        }
    }
}

//Header styles ----------------------------
header {
    height: 100vh;
    // background: linear-gradient(90deg, $lightBackgroundColour 60%, $darkBackgroundColour 45%);
    background: linear-gradient(90deg, #a8b2bf 60%,  #8c939c 60%);

    .headerContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
            
        
        .headerBots {
            display: flex;
            padding-bottom: 50px;
            width: 550px;
            
            img {
                width: 80%;
            }
        }

        .headerBorder {
            border-bottom: $primaryColour 3px solid;
            width: 80%;
        }

        h1 {
            padding-top: 50px;
            text-align: right;
        }

        p {
            text-align: right;
            align-self: flex-end;
            width: 400px;
            padding: 50px 0;
        }
    }
}

//Main styles ----------------------------
main {
    height: 100%;
    background: $mainBackgroundColour;

    .mainContainer { 
        padding-bottom: 75px;

        .mainIntro {
            padding: 100px 0;

            p {
                padding: 50px 0;
            }
        }

        .displayContainer {
            border: lightgrey 5px solid;
            background: rgb(102, 102, 102);
            padding: 50px 0;

            .botDisplay {
                display: flex;
                flex-direction: column;
                // align-items: center;
    
                .botImages {
                    // background-image: url(../assets/defaultScene.png);
                    // background-repeat: no-repeat;
                    // background-size: contain;
                    // height: 490px;
                    // width: 750px;
                    border:  lightgray 4px solid;
                    margin: 0 auto;
                    position: relative;
                    
                    .violetBot,
                    .roseBot,
                    .peachBot,
                    .mintBot {
                        @include imgs(30.5%, 19px, 0px);
                        z-index: 10;
                        display: none;
                    }

                    .rainScene,
                    .nightScene,
                    .dayScene {
                        width: 100%;
                        position: absolute;
                        z-index: 5;
                        display: none;
                    }
        
                    .swagTopHat {
                        @include imgs(18.5%, 57px, 200px);
                        z-index: 20;
                        display: none;
                    }
        
                    .swagShades {
                        @include imgs(12.8%, 75px, 170px);
                        z-index: 30;
                        display: none;
                    }
                    
                    .swagIceCream {
                        @include imgs(5.8%, 180px, 116px);
                        z-index: 20;
                        display: none;
                    }
                    
                    .swagChain {
                        @include imgs(12.5%, 76px, 111px);
                        z-index: 20;
                        display: none;
                    }
                    
                    .swagShoes {
                        @include imgs(21%, 48px, 0px); 
                        z-index: 20;
                        display: none;
                    }
    
                    .default {
                        // @include imgs(950px, 54px, 32px); 
                        // height: 600px;
                        // border: grey 4px solid;
                        position: relative;
                        z-index: 1;
                    }
                    
                    // p {
                    //     position: absolute;
                    //     z-index: 2;
                    //     top: 100px;
                    //     left: 60px;
                    // }

                    .show {
                        display: block;
                    }
                }
            }

            .displayLinks {
                display: flex;
                flex-direction: column;
            }
        }
        
        .botInputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 75px;

            h3 {
                padding-bottom: 15px;
            }

            p {
                padding-bottom: 20px;
                border-bottom: solid #FFF 2px;
            }

            .swatch,
            .scene,
            .swag {
                display: flex;
                flex-direction: column;
                min-width: 250px;
                width: 300px;
                text-align: left;
                padding-bottom: 50px;
                padding-right: 50px;
            }

            // form {
            //     // min-width: 300px;
            //     // max-width: 350px;
            // }

            .radioForm {
                display: flex;
                flex-direction: column;
                padding: 10px 0 0 50px;
                

                label {
                    margin: 20px 0;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
            }
            
            .checkboxForm {
                padding: 25px 0 0 20px;

                label {
                    margin: 20px 0;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

//Footer styles ----------------------------
footer {
    background-color: lightblue;
    padding: 20px 0;
}

// Sweet alert styles ----------------------------

// Swal title-----
.swal-title{
    font-size: 2rem;
    font-family: $primaryFont;
    font-weight: 400px;
}

// Swal button-----
.swal-button{
    background: $secondaryColour;
    letter-spacing: 3px;
    font-weight: 700;
    // color: $primaryColour;
    padding: 15px 20px;

    &:hover, &:focus {
        color: $linkColour;
        background: $primaryColour;
        border: $linkColour 3px solid;
    }
}

// change the colour of the buttons
.swal-button:not([disabled]):hover,
.swal-button:not([disabled]):focus{
    background-color: $secondaryColour;
    cursor: pointer;
}

// center the button | change spacing around it
.swal-footer{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}



