//Variables and mixins ----------------------------
//Colour -----
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Passion One', cursive;

//Colour -----
$darkBackgroundColour: #a1a1a1;
$lightBackgroundColour: #c4c4c4;
$mainBackgroundColour: #636578;
$primaryColour: #FFF;
$secondaryColour: #64d9c5;
$linkColour: #64d9c5;
$formInputBackground: #6C788A;




//Partials ----------------------------
@import 'setup';
@import 'global';
@import 'media';


