//Variables and mixins ----------------------------
//Fonts -----
$primaryFont: 'Nanum Gothic', sans-serif;
$secondaryFont: 'Asap Condensed', sans-serif;

//Colour -----
//Background -----
$headerBackgroundColourLight: #829499;
$headerBackgroundColourDark: #50666b;

//Main -----
$mainBackgroundColourLight: #bfd6db;
$mainBackgroundColourDark: #637d83;

//Footer -----
$footerBackgroundColour: #4d4d4d;

//Text, link, forms -----
$primaryColour: #f3f3f3;
$secondaryColour: #5accb9;
$tertiaryColour: #646464;
$linkColour: #5accb9;
$formInputBackground: #6C788A;

//Images -----
@mixin imgs($width, $left, $bottom) {
    width: $width;
    left: $left;
    bottom: $bottom;
    position: absolute;
}


//Partials ----------------------------
@import 'setup';
@import 'global';
@import 'media';


