html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nanum Gothic", sans-serif;
  color: #FAFAFA;
}

h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

form {
  display: inline-block;
}

label {
  display: inline-block;
}

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-family: "Francois One", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Francois One", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 5rem;
  font-weight: 700;
  color: #66f2db;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 3px;
  line-height: 26px;
}

footer p {
  text-align: center;
  color: dimgrey;
}

p.smallTxt {
  font-size: 1.6rem;
  font-style: italic;
}

a.link,
a.link2,
a.link3 {
  background: #5accb9;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  padding: 15px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

a.link:hover, a.link:focus,
a.link2:hover,
a.link2:focus,
a.link3:hover,
a.link3:focus {
  color: #5accb9;
  background: #FFF;
  border: #5accb9 3px solid;
}

.displayLink {
  text-align: center;
}

.displayLink a.link2 {
  margin-top: 75px;
}

.displayLink a.link2 span,
.displayLink a.link3 span {
  padding-left: 10px;
  font-size: 2rem;
}

footer a {
  color: #EA593E;
  text-align: center;
  font-style: italic;
}

footer a:hover, footer a:focus {
  border-bottom: #EA593E solid 2px;
}

.botInputs input[type="radio"],
.botInputs input[type="checkbox"] {
  visibility: visible;
  opacity: 0;
}

.botInputs input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #66f2db;
}

.botInputs input[type="checkbox"]:checked + label span.checkbox::after {
  color: #66f2db;
}

.botInputs input[type=checkbox]:focus + label,
.botInputs input[type=radio]:focus + label {
  border: 3px solid #c4c4c4;
  border-radius: 5px;
  padding: 2px;
}

.botInputs label {
  font-size: 2.2rem;
  position: relative;
}

.botInputs label span::before,
.botInputs label span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.botInputs label span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #6C788A;
  border-radius: 50px;
}

.botInputs label span.radio:hover::before {
  border: 3px solid #c4c4c4;
}

.botInputs label span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  -webkit-transition: left .25s, background-color .25s;
  transition: left .25s, background-color .25s;
}

.botInputs label span.radio:hover {
  cursor: pointer;
}

.botInputs label span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #6C788A;
  left: -35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.botInputs label span.checkbox:hover::before {
  border: 3px solid #c4c4c4;
}

.botInputs label span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -32px;
  top: 0px;
  color: transparent;
  -webkit-transition: color .2s;
  transition: color .2s;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #a8b2bf), color-stop(60%, #8c939c));
  background: linear-gradient(90deg, #a8b2bf 60%, #8c939c 60%);
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerContainer .headerBots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  width: 550px;
}

header .headerContainer .headerBots img {
  width: 80%;
}

header .headerContainer .headerBorder {
  border-bottom: #FFF 3px solid;
  width: 80%;
}

header .headerContainer h1 {
  padding-top: 50px;
  text-align: right;
}

header .headerContainer p {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 400px;
  padding: 50px 0;
}

main {
  height: 100%;
  background: #636578;
}

main .mainContainer {
  padding-bottom: 75px;
}

main .mainContainer .mainIntro {
  padding: 100px 0;
}

main .mainContainer .mainIntro p {
  padding: 50px 0;
}

main .mainContainer .displayContainer {
  border: lightgrey 5px solid;
  background: #666666;
  padding: 50px 0;
}

main .mainContainer .displayContainer .botDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .mainContainer .displayContainer .botDisplay .botImages {
  border: lightgray 4px solid;
  margin: 0 auto;
  position: relative;
}

main .mainContainer .displayContainer .botDisplay .botImages .violetBot,
main .mainContainer .displayContainer .botDisplay .botImages .roseBot,
main .mainContainer .displayContainer .botDisplay .botImages .peachBot,
main .mainContainer .displayContainer .botDisplay .botImages .mintBot {
  width: 30.5%;
  left: 19px;
  bottom: 0px;
  position: absolute;
  z-index: 10;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .rainScene,
main .mainContainer .displayContainer .botDisplay .botImages .nightScene,
main .mainContainer .displayContainer .botDisplay .botImages .dayScene {
  width: 100%;
  position: absolute;
  z-index: 5;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagTopHat {
  width: 18.5%;
  left: 58px;
  bottom: 200px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagShades {
  width: 12.8%;
  left: 75px;
  bottom: 170px;
  position: absolute;
  z-index: 30;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagIceCream {
  width: 5.8%;
  left: 180px;
  bottom: 116px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagChain {
  width: 12.5%;
  left: 76px;
  bottom: 111px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagShoes {
  width: 21%;
  left: 48px;
  bottom: 0px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .default {
  border: grey 4px solid;
  z-index: 1;
}

main .mainContainer .displayContainer .botDisplay .botImages .show {
  display: block;
}

main .mainContainer .botInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 75px;
}

main .mainContainer .botInputs h3 {
  padding-bottom: 15px;
}

main .mainContainer .botInputs p {
  padding-bottom: 20px;
  border-bottom: solid #FFF 2px;
}

main .mainContainer .botInputs .swatch,
main .mainContainer .botInputs .scene,
main .mainContainer .botInputs .swag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-bottom: 50px;
}

main .mainContainer .botInputs .radioForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 0 50px;
}

main .mainContainer .botInputs .radioForm label {
  margin: 20px 0;
  padding-left: 10px;
  margin-bottom: 10px;
}

main .mainContainer .botInputs .checkboxForm {
  padding: 25px 0 0 20px;
}

main .mainContainer .botInputs .checkboxForm label {
  margin: 20px 0;
  padding-left: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: lightblue;
  padding: 20px 0;
}

@media (max-width: 1300px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainer .botInput, .mainContainer .botDisplay {
    width: 100%;
  }
  .mainContainer .botInput form, .mainContainer .botDisplay form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 880px) {
  .mainContainer .botDisplay .botDetaulf {
    height: 300px;
    width: 500px;
  }
}
