html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nanum Gothic", sans-serif;
  color: #FAFAFA;
}

h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

form {
  display: inline-block;
}

label {
  display: inline-block;
}

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  font-family: "Asap Condensed", sans-serif;
  font-size: calc(4rem + 2.5vw);
  text-transform: uppercase;
}

h2 {
  font-family: "Asap Condensed", sans-serif;
  font-size: calc(3.5rem + 2vw);
  text-transform: uppercase;
}

h3 {
  font-size: calc(3.5rem + 1.5vw);
  font-weight: 700;
  color: #328b87;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 3px;
  line-height: 26px;
}

.botInputs p {
  font-size: 2rem;
  color: #646464;
}

footer p {
  font-size: 1.6rem;
  text-align: center;
}

p.smallTxt {
  font-size: 1.4rem;
  color: #d3d3d3;
  font-style: italic;
}

a.headerLink,
a.mainLink,
a.screenCap,
a.link2,
a.link3 {
  background: #5accb9;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f3f3f3;
  padding: 15px 20px;
}

a.headerLink:hover, a.headerLink:focus,
a.mainLink:hover,
a.mainLink:focus,
a.screenCap:hover,
a.screenCap:focus,
a.link2:hover,
a.link2:focus,
a.link3:hover,
a.link3:focus {
  color: #5accb9;
  background: #f3f3f3;
  border: #5accb9 3px solid;
}

a.headerLink {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.displayLinks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displayLinks a.screenCap {
  padding: 20px;
  border: 1px #5accb9 solid;
  border-radius: 50%;
  margin-top: 20px;
}

.displayLinks a.screenCap span {
  font-size: 2rem;
}

.displayLinks a.link2 {
  margin-top: 50px;
}

.displayLinks a.link2 span,
.displayLinks a.link3 span {
  padding-left: 10px;
  font-size: 2rem;
}

footer a {
  color: #EA593E;
  text-align: center;
  font-style: italic;
}

footer a:hover, footer a:focus {
  border-bottom: #EA593E solid 2px;
}

button {
  background: #409284;
  letter-spacing: 3px;
  font-weight: 700;
  color: #f3f3f3;
  border: none;
  padding: 10px 30px;
  margin-bottom: 40px;
}

button:hover, button:focus {
  color: #409284;
  background: #f3f3f3;
  border: #409284 3px solid;
}

.botInputs input[type="radio"],
.botInputs input[type="checkbox"] {
  visibility: visible;
  opacity: 0;
}

.botInputs input:disabled + label {
  color: #aaaaaa;
}

.botInputs input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #77fce1;
}

.botInputs input[type="checkbox"]:checked + label span.checkbox::after {
  color: #77fce1;
}

.botInputs input[type=checkbox]:focus + label,
.botInputs input[type=radio]:focus + label {
  border: 3px solid #f3f3f3;
  border-radius: 5px;
  padding: 2px;
}

.botInputs label {
  font-size: 2.2rem;
  position: relative;
  color: #646464;
}

.botInputs label span::before,
.botInputs label span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.botInputs label span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #6C788A;
  border-radius: 50px;
}

.botInputs label span.radio:hover::before {
  border: 3px solid #bfd6db;
}

.botInputs label span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  -webkit-transition: left .25s, background-color .25s;
  transition: left .25s, background-color .25s;
}

.botInputs label span.radio:hover {
  cursor: pointer;
}

.botInputs label span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #6C788A;
  left: -35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.botInputs label span.checkbox:hover::before {
  border: 3px solid #bfd6db;
}

.botInputs label span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -32px;
  top: 0px;
  color: transparent;
  -webkit-transition: color .2s;
  transition: color .2s;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #829499), color-stop(45%, #50666b));
  background: linear-gradient(90deg, #829499 60%, #50666b 45%);
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerContainer .headerBots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  width: 550px;
}

header .headerContainer .headerBots img {
  width: 80%;
}

header .headerContainer .headerBorder {
  border-bottom: #f3f3f3 3px solid;
  width: 80%;
}

header .headerContainer h1 {
  padding-top: 50px;
  text-align: right;
}

header .headerContainer p {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 400px;
  padding: 50px 0;
}

main {
  height: 100%;
  background: #637d83;
}

main .mainContainer {
  padding-bottom: 75px;
}

main .mainContainer .mainIntro {
  padding: 100px 0;
}

main .mainContainer .mainIntro p {
  padding: 50px 0;
}

main .mainContainer .displayContainer {
  background: #bfd6db;
  padding: 50px 0;
}

main .mainContainer .displayContainer .botDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .mainContainer .displayContainer .botDisplay .botImages {
  margin: 0 auto;
  position: relative;
}

main .mainContainer .displayContainer .botDisplay .botImages .violetBot,
main .mainContainer .displayContainer .botDisplay .botImages .roseBot,
main .mainContainer .displayContainer .botDisplay .botImages .peachBot,
main .mainContainer .displayContainer .botDisplay .botImages .iceBot {
  width: 30.5%;
  left: 19px;
  bottom: 0px;
  position: absolute;
  z-index: 10;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .nightScene,
main .mainContainer .displayContainer .botDisplay .botImages .dayScene {
  width: 100%;
  position: absolute;
  z-index: 5;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagTopHat {
  width: 18.5%;
  left: 57px;
  bottom: 200px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagShades {
  width: 12.8%;
  left: 75px;
  bottom: 170px;
  position: absolute;
  z-index: 30;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagIceCream {
  width: 5.8%;
  left: 180px;
  bottom: 116px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagChain {
  width: 12.5%;
  left: 76px;
  bottom: 111px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .swagShoes {
  width: 21%;
  left: 48px;
  bottom: 0px;
  position: absolute;
  z-index: 20;
  display: none;
}

main .mainContainer .displayContainer .botDisplay .botImages .default {
  position: relative;
  z-index: 1;
}

main .mainContainer .displayContainer .botDisplay .botImages .show {
  display: block;
}

main .mainContainer .displayContainer .displayLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .mainContainer .botInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 100px 0 100px;
}

main .mainContainer .botInputs h3 {
  padding-bottom: 15px;
}

main .mainContainer .botInputs p {
  padding-bottom: 20px;
  border-bottom: solid #328b87 3px;
}

main .mainContainer .botInputs .swatch,
main .mainContainer .botInputs .scene,
main .mainContainer .botInputs .swag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  text-align: left;
  padding-bottom: 50px;
}

main .mainContainer .botInputs .radioForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 0 50px;
}

main .mainContainer .botInputs .radioForm label {
  margin: 20px 0;
  padding-left: 10px;
  margin-bottom: 10px;
}

main .mainContainer .botInputs .checkboxForm {
  padding: 25px 0 0 20px;
}

main .mainContainer .botInputs .checkboxForm label {
  margin: 20px 0;
  padding-left: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #4d4d4d;
  padding: 20px 0;
}

.swal-title {
  font-size: 1.8rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400px;
}

.swal-button {
  background: #5accb9;
  letter-spacing: 3px;
  font-weight: 700;
  color: #f3f3f3;
  padding: 15px 20px;
}

.swal-button:hover, .swal-button:focus {
  color: #5accb9;
  background: #f3f3f3;
  border: #5accb9 3px solid;
}

.swal-button:not([disabled]):hover,
.swal-button:not([disabled]):focus {
  background-color: #5accb9;
  color: #f3f3f3;
  cursor: pointer;
}

.swal-footer {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

#capturedImg {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 999px) {
  main .mainContainer .botInputs {
    padding: 50px 100px 0 100px;
  }
  main .mainContainer .botInputs .swatch,
  main .mainContainer .botInputs .scene,
  main .mainContainer .botInputs .swag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: left;
    padding-bottom: 50px;
  }
}

@media (max-width: 745px) {
  header {
    height: 90vh;
  }
  header .headerContainer .headerBots {
    width: 450px;
  }
  header .headerContainer .headerBots img {
    width: 70%;
  }
  main .mainContainer .displayContainer .botDisplay {
    height: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
  }
  main .mainContainer .displayContainer .botDisplay .botImages {
    height: 250px;
    width: 450px;
  }
  main .mainContainer .displayContainer .botDisplay .botImages .violetBot,
  main .mainContainer .displayContainer .botDisplay .botImages .roseBot,
  main .mainContainer .displayContainer .botDisplay .botImages .peachBot,
  main .mainContainer .displayContainer .botDisplay .botImages .iceBot {
    width: 30.5%;
    left: 14px;
    bottom: -25px;
    position: absolute;
  }
  main .mainContainer .displayContainer .botDisplay .botImages .swagTopHat {
    width: 18.5%;
    left: 41px;
    bottom: 117px;
    position: absolute;
    z-index: 20;
  }
  main .mainContainer .displayContainer .botDisplay .botImages .swagShades {
    width: 12.8%;
    left: 54px;
    bottom: 97px;
    position: absolute;
    z-index: 30;
  }
  main .mainContainer .displayContainer .botDisplay .botImages .swagIceCream {
    width: 5.8%;
    left: 130px;
    bottom: 59px;
    position: absolute;
    z-index: 20;
  }
  main .mainContainer .displayContainer .botDisplay .botImages .swagChain {
    width: 12.5%;
    left: 55px;
    bottom: 55px;
    position: absolute;
    z-index: 20;
  }
  main .mainContainer .displayContainer .botDisplay .botImages .swagShoes {
    width: 21%;
    left: 33px;
    bottom: -25px;
    position: absolute;
    z-index: 20;
  }
  main .mainContainer .displayContainer .botDisplay .displayLinks {
    margin-top: 50px;
  }
  main .mainContainer .displayContainer .botDisplay .displayLinks a.link2 {
    margin-top: 20px;
  }
  main .mainContainer .displayContainer .botDisplay #capturedImg {
    padding-bottom: 30px;
  }
  main .mainContainer .displayContainer .botInputs {
    padding-top: 0px;
  }
}

@media (max-width: 650px) {
  header {
    height: 65vh;
  }
  header .headerContainer .headerBots img {
    display: none;
  }
  main .mainContainer .botDisplay {
    height: 100%;
  }
  main .mainContainer .botInputs {
    padding-left: 75px;
    padding-right: 75px;
  }
}

a.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip:active, a.skip:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #FFF;
  background: #5accb9;
  padding: 5px;
}
